html {
    background: black url(background.jpg) center center no-repeat; background-size: cover;
    color: white;
    
}


body {display: grid;place-items: center; margin: 0;
    font-family: Inter,Helvetica,Arial,sans-serif;font-size: 16px;line-height: 1.5;

}

.Container {
    width: 90%;
    margin: 2vh auto;
    background: rgb(79, 109, 245,0.8);
    padding: 2rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height:1.5em;
}
@media (min-width:300px) {.Container {margin:2vh;padding:2rem;border-radius: 2rem}}
 
    header { }
        .Avatar { display: block; float: left; width: 120px; height: auto; margin: 0 1em 0 0; border-radius: 50%;}
        .TitlulPaginii{ display: block; margin: 0; font-size: clamp(2rem, 6vw, 4rem) ; line-height: 1em; }
    main{clear: both;}
        .ListaLinkuri {    display: block;margin: 0; padding: 0; border-top: 1px solid white; }
        @media (min-width:880px) {.ListaLinkuri{display: grid; grid-template-columns: 1fr 1fr; } }  
            .ListaItem { display: block;margin: 0; padding: 0;border-bottom: 1px solid white;}
                .ListaLink{display: block;padding: 0.5em; color: white; text text-decoration: none;}
                .ListaLink:hover {background: white ;color: black;}
                    .ListaTitlu{display: block;margin: 0; padding: 0;  font-size: 1em; line-height: 1.5em;}
                        .ListaText{display: block;margin: 0; padding: 0;  font-size: 1em; line-height: 1.5em;white-space: nowrap; overflow:hidden;text-overflow: ellipsis;}
